//Fonts and colour styles

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,200;1,600&display=swap');

$color-primary: #313131;
$color-secondary: #ffffff;

p {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.nav-font {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: $color-primary;
}

.headers-font {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.hamburger-font {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: italic;
}


//General styling & links

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color-primary;
}

a, a:hover, a:visited{
    text-decoration: none!important;
    color: $color-primary!important;
} 

    
a.nav-font:hover {
    background-image: url(./resources/colouring-textures.png);
    background-size: 150px 50px;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    mix-blend-mode: darken;
    opacity: 0.7;
    animation: ease-in-out;
}


body {
    background: url(./resources/page-background-texture.png);
}
