//Fonts and colour styles

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,200;1,600&display=swap');

p {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.nav-font {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 36px;
}

.headers-font {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.hamburger-font {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: italic;
}

$colour-primary: #313131;
$color-secondary: #ffffff;

//General styling & links

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $colour-primary;
}

a:link,
a:visited {
    text-decoration: none;
} 