//fixed to scroll elements

.top-page {
    position: fixed;
    width: 50px;
    height: 90px;
    left: 95%;
    top: 85%; 
    opacity: 0.9;
    animation: Move 2.5s linear infinite;
    animation-delay: 500ms;
}

@keyframes Move {
    50%{    
    transform: translateY(-15px);
    }
}

//homepage

.logo {
    width: 73px;
    height: 66px;
    margin-left: 65px;
    mix-blend-mode: darken;
}

.home-background {
    mix-blend-mode: darken;
    width: 728px;
    height: 516px;
    position: relative;
    min-width: 300px;
}

#hamburger:hover {
    opacity: 50%;
}

#hamburger:active {
    color: blue;
}

.nathan {
    font-weight: 300;
    font-style: italic;
    font-family: "Raleway", sans-serif;
}

.nathan::first-letter {
    font-size: 72px;
  }

.junior {
    font-weight: 600;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

.web {
    font-weight: 200;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
}

.developer {
    font-weight: 600;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
}

.illustrator {
    font-weight: 600;
    font-size: 48px;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    background-image: url(./resources/colouring-textures.png);
    background-size: 230px 50px;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
}

//Experience


.tech-holder {
    width: 348px;
    height: 252px;
    mix-blend-mode: darken;
    position: absolute;

}

.experience-p {
    margin-bottom: 80px;
}

//projects 





.project1-img, 
.project2-img  {
    border: 4px solid $color-primary;
    border-radius: 8px;
    margin: 0 40px;
    }

.tech {
    border: 2px solid $color-primary;
    border-radius: 8px;
    font-size: 12px;   
}

#html {
    width: 50px;
    text-align: center;   
}

#html:hover {
    background-color: orange;
}

#css {
    width: 40px;
    text-align: center;
}

#css:hover {
    background-color: lightskyblue;
}

#sass {
    width: 40px;
    text-align: center;
}

#sass:hover {
    background-color: hotpink;
}

#bootstrap {
    width: 60px;
    text-align: center;
}

#bootstrap:hover {
    background-color:rgb(138, 108, 168);
    
}

.project-caption {
    padding: 0 70px;
    text-align: center;
}

.fa-code:hover {
    opacity: 50%;
}

.fa-code:active {
    color: blue;
}
    

//About

.about-image {
    width: 564px;
    height: 385px;
    mix-blend-mode: darken;
    margin-right: 80px;
}

.fa-instagram:hover {
    opacity: 50%;
}

.fa-instagram:active {
    color: blue;
} 

//contact 
.contact-text {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 40px;
}

.contact-image-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.contact-image {
    width: 848px;
    height: 218px;
    mix-blend-mode: darken;
    transform: rotate(1.18deg);
    
}

.contact-image2 {
    height: 109px;
    width: 150px;
}

.socials-container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
    opacity: 50%;
}

.fa-github:active,
.fa-linkedin:active,
.fa-envelope:active {
    color: blue;
}