//fixed to scroll elements

.top-page {
    position: fixed;
    width: 50px;
    height: 90px;
    left: 95%;
    top: 85%; 
    opacity: 0.9;
    animation: Move 2.5s linear infinite;
    animation-delay: 500ms;
}

@keyframes Move {
    50%{    
    transform: translateY(-15px);
    }
}

//homepage

.logo {
    width: 73px;
    height: 66px;
    margin-left: 40px;
}

.home-background {
    mix-blend-mode: darken;
    position: absolute;
    width: 728px;
    height: 516px;
    opacity: 0.7;
    float: right;
    margin-right: 80px;
    left: 43%;
    top: 184px;
}

//Experience



.experience-p {
    position: relative;
    width: 523px;
    height: 274px;
    float: right;
    margin-top: 50px;
    margin-right: 65px;
    min-width: 400px;
}   

.tech-holder {
    width: 348px;
    height: 252px;
    mix-blend-mode: darken;
}

//projects 





.project1-img, 
.project2-img  {
    border: 4px solid $color-primary;
    border-radius: 8px;
    margin: 0 40px;
    }

.tech {
    border: 2px solid $color-primary;
    border-radius: 8px;
    font-size: 12px;   
}

#html {
    width: 50px;
    text-align: center;
}

#css {
    width: 40px;
    text-align: center;
}

#sass {
    width: 40px;
    text-align: center;
}

#bootstrap {
    width: 60px;
    text-align: center;
}

.project-caption {
    padding: 0 70px;
}


    

//About

.about-image {
    width: 706px;
    height: 482px;
    position: relative;
    float: right;
    mix-blend-mode: darken;
    margin-right: 80px;

    
}

//contact 
.contact-text {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 40px;
}

.contact-image-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.contact-image {
    width: 848px;
    height: 218px;
    mix-blend-mode: darken;
    transform: rotate(1.18deg);
    
}

.socials-container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}