//fixed to scroll elements

.top-page {
    position: fixed;
    width: 50px;
    height: 90px;
    left: 95%;
    top: 85%; 
    opacity: 0.9;
    animation: Move 2.5s linear infinite;
    animation-delay: 500ms;
}

@keyframes Move {
    50%{    
    transform: translateY(-15px);
    }
}

//homepage

.logo {
    width: 73px;
    height: 66px;
    margin-left: 40px;
}

.home-background {
    position: absolute;
    width: 728px;
    height: 516px;
    opacity: 0.7;
    mix-blend-mode: darken;
    float: right;
    margin-right: 80px;
    left: 43%;
    top: 184px;
}