section {
    height: 100vh;
    width: 100vw;
}

//Homepage layouts

nav {
    width: 100%;
    height: 20vh;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-shrink: 1;
}

.nav-links-container {
    justify-content: flex-end;
}

.nav-font {
    padding: 20px;
    margin: 0 60px;
}

#hamburger {
   margin: 0 40px;
}

.heading {
    height: 80vh;
    width: 100%;
}


.heading-container {
    height: 80vh;
    width: 100vw;
}


.nathan {
    font-weight: 300;
    font-style: italic;
    font-family: "Raleway", sans-serif;
}

.nathan::first-letter {
    font-size: 72px;
  }

.junior {
    font-weight: 600;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

.web {
    font-weight: 200;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
}

.developer {
    font-weight: 600;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
}

.illustrator {
    font-weight: 600;
    font-size: 48px;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    background-image: url(./resources/colouring-textures.png);
    background-size: 230px 50px;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
}


[class^="row"] {
    padding: 65px;
    margin-bottom: 4px;
    min-height: 300px;
}

[class^="col"] {
    padding: 10px;
    min-height: 150px;
    min-width: 100px;
    
}

.home-background-container {
    width: 100%;
}


//Experience layout


.heading-experience {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-image: url(./resources/colouring-textures.png);
    background-size: 260px 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    backface-visibility: 0.8;
}

.experience {
    margin-top: 80px;
    width: 100vw;
    height: 100vh;

}


.tech-icons {
    width: 348px;
    height: 252px;
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    
    img {
        width: 40px;
        height: 40px;
    }
}

//Projects

.header-projects {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-image: url(./resources/colouring-textures.png);
    background-size: 260px 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    margin-top: 100px;
}

.project-caption-container {
    height: 100px;
    width: 100vw;
}

.projects-container {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    
    

    .project1-tech-container {
        width: 10vw;
        height: 162px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }


    .project1-img, 
    .project2-img {
        width: 264px;
        height: 162px;
    }

    .project1-code,
    .project2-code {
        display: flex;
        height: 20vh;
        width: 20vw;
        justify-content: flex-start;
        align-items: center;
    }

}

//about
   
    .about-header {
        display: flex;
        height: 20vw;
        width: 100vw;
        align-items: center;
        background-image: url(./resources/colouring-textures.png);
        background-size: 150px 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin-top: 80px;

        .about-header-icon {
            width: 46vw;
            justify-content: flex-end;
            display: flex;
            margin-right: 20px;
        }

        .about-header-title {
            width: 54vw;
            justify-content: flex-start;
            display: flex;
        }
        
    }

    .about-main {
        display: flex;
        width: 100vw;
        justify-content: space-between;

        .about-main-text {
            width: 40vw;
            margin: 40px 80px;
            min-width: 400px;

        }

        .about-main-img {
            width: 60vw;
           
        }
    }

   //Contact 
   .contact {
       height: 90vh;
   }

   .contact-header {
   width: 100vw;
   height: 20vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 40px;
   background-image: url(./resources/colouring-textures.png);
   background-size: 260px 50px;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: darken;
   margin-top: 200px;
}