section {
    height: 100vh;
    width: 100vw;
}

//Homepage layouts

nav {
    width: 100%;
    height: 20vh;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-shrink: 2;
}

.nav-links-container {
    justify-content: flex-end;
}

.nav-font {
    padding: 20px;
    margin: 0 60px;
}

.heading {
    height: 80vh;
    width: 100vh;
}


.heading-container {
    display: flex;
    height: 80vh;
    width: 40vw;
}

.nathan {
    position: absolute;
    width: 396px;
    height: 126px;
    left: 50px;
    top: 222px;
    font-weight: 300;
    font-style: italic;
    font-family: "Raleway", sans-serif;
}

.nathan::first-letter {
    font-size: 72px;
  }

.junior {
    position: absolute;
    top: 330px;
    left: 50px;
    font-weight: 600;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

.web {
    position: absolute;
    top: 360px;
    left: 50px;
    font-weight: 200;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
}

.developer {
    position: absolute;
    top: 372px;
    left: 175px;
    font-weight: 600;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
}

.illustrator {
    position: absolute;
    top: 442px;
    left: 175px;
    font-weight: 600;
    font-size: 48px;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    background-image: url(./resources/colouring-textures.png);
    background-size: 230px 50px;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
}

//Experience layout


.heading-experience {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-image: url(./resources/colouring-textures.png);
    background-size: 260px 50px;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
    backface-visibility: 0.8;
}

.experience {
    display:flex;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 100vw;
    height: 420px;
}

.experience-tech-container {
    width: 348px;
    height: 252px;
    position: relative;
    display: flex;
    margin-left: 131px;
    margin-top: 50px;
}

.tech-icons {
    width: 348px;
    height: 252px;
    display: flex;
    position: absolute;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    
    img {
        width: 40px;
        height: 40px;
    }
}

//Projects

.header-projects {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-image: url(./resources/colouring-textures.png);
    background-size: 260px 50px;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
    backface-visibility: 0.8;
}

.projects-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    min-width: 1000px;
    

    .project1-tech-container {
        width: 10vw;
        height: 162px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .project1-container,
    .project2-container {
        width: 40vw;
        height: 100%;
    }


    .project1-img, 
    .project2-img {
        width: 264px;
        height: 162px;
    }
}