@media screen and (min-width: 1033px) {
    #hamburger {
        display: none; 
    }
    
}

@media screen and (max-width: 1400px) {
    .top-page {
        display: none;
    }
    
}

@media screen and (max-width: 1440px) {
    .home-background {
        height:auto;
        width: 100%;
    }
    
}

@media  screen and (max-width: 1033px) {
    .nav-font {
        display: none;
    }
}



@media screen and (max-width: 991px) {

    .nav-links-container {
        left: 50%;
    }
    
    .home-background {
        height:auto;
        width: 60%;
    }

    #home-background-container {
        display: flex;
        justify-content: center;
    }

    #heading-text {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
     .nathan,
     .junior,
     .web,
     .developer,
     .illustrator{
        font-size:x-large;
    }

    .illustrator {
        background-size: 100px 25px;
    }
    
    p {
        font-size: 16px;
    }
    
}




@media screen and (max-width: 991px){
    #tech-holder-container {
        display: flex;
        width: 100%;
        justify-content: center;

    }
    .experience-p {
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    .tech-holder {
        height: auto;
        width: 100%;
    }
    .tech-icons {
        height: 150px;

    img {
        height: 15%;
        width: 15%;
    }
    }
}

@media screen and (min-width: 873px) {
    .project-caption-container {
        display: none!important;
    }
}

@media screen and (max-width: 872px) {
    .project1-tech-container {
        display: flex!important;
        flex-direction: row!important;
        width: 100vw!important;
        justify-content: center!important;
        gap: 20px!important;
    }

    .projects-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .project2-code,
    .project2-container,
    .project1-code,
    .project1-container,
    .project-caption-container {
        display: flex!important;
        flex-direction: row!important;
        width: 100vw!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .project1-code {
        margin-bottom: 40px;
    }

    .project-caption {
        display: none;
    }
}

@media screen and (max-width: 1208px) {

    .about-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-main-text {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    
.about-main-img {
    display: none;
}


.about {
    height: 80vh;
}

.contact-image {
    display: none;
}

}

@media screen and (min-width: 768px) {
    .contact-image2 {
        display: none;
    }
    
}