//mobile queries

@media screen and (max-width: 451px) {
    .nathan,
    .junior,
    .web,
    .developer,
    .illustrator{
       font-size:x-large;
   }

   .illustrator {
       background-size: 100px 25px;
   }

   
}

@media screen and (max-width: 320px) {
    .tech-holder {
        display: none;
    }

    .row {
        padding-top: 0;
        padding-bottom: 0;
    }

    .tech-icons {
        height: 100px;
        
        img {
        height: 150px;
        padding: 0 5px;
        filter: brightness(0%);
    
    }
}
}

@media screen and (max-width: 564px) {
    .experience-text,
    .about-text,
    .contact-text {
        font-size: 16px;
    }
    
    .contact-header {
        margin-top: 0;
    }
}

//tablet queries

@media screen and (min-width: 768px) {
    #hamburger {
        display: none; 
    }
    
}

@media  screen and (max-width: 769px) {
    .nav-font {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .contact-image2 {
        display: none;
    }
    
}


@media screen and (max-width: 768px) {
    
    .about-main-img {
        display: none;
    }
    
    
    .about {
        height: 80vh;
    }
    
    .contact-image {
        display: none;
    }
    
    .contact-header {
        margin-top: 10px;
    }
    
    }


//laptop & desktop queries


@media screen and (max-width: 1400px) {
    .top-page {
        display: none;
    }
    
}

@media screen and (max-width: 1440px) {
    .home-background {
        height:auto;
        width: 100%;
    }
    
}

@media screen and (max-width: 1035px) {
    .nav-font {
        font-size: auto;
        margin: 0 20px;
    }

    
}


@media screen and (max-width: 991px) {

    .nav-links-container {
        left: 50%;
    }
    
    .home-background {
        height:auto;
        width: 60%;
    }

    #home-background-container {
        display: flex;
        justify-content: center;
    }

    #heading-text {
        text-align: center;
    }
}



@media screen and (min-width: 991px){
    #projects {
        margin-top: 0;
    }

    .experience {
        height: 80vh;
    }
}


@media screen and (max-width: 991px){
    #tech-holder-container {
        display: flex;
        width: 100%;
        justify-content: center;

    }
    .experience-p {
        text-align: center;
    }
}



@media screen and (min-width: 873px) {
    .project-caption-container {
        display: none!important;
    }
}

@media screen and (max-width: 872px) {
    .project1-tech-container {
        display: flex!important;
        flex-direction: row!important;
        width: 100vw!important;
        justify-content: center!important;
        gap: 20px!important;
    }

    .projects-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .project2-code,
    .project2-container,
    .project1-code,
    .project1-container,
    .project-caption-container {
        display: flex!important;
        flex-direction: row!important;
        width: 100vw!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .project1-code {
        margin-bottom: 40px;
    }

    .project-caption {
        display: none;
    }
}

@media screen and (max-width: 1208px) {

    .about-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-main-text {
        text-align: center;
    }
}
