@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,200;1,600&display=swap");
p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.nav-font {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: #313131;
}

.headers-font {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.hamburger-font {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #313131;
}

a, a:hover, a:visited {
  text-decoration: none !important;
  color: #313131 !important;
}

a.nav-font:hover {
  background-image: url(./resources/colouring-textures.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: center;
  mix-blend-mode: darken;
  opacity: 0.7;
  animation: ease-in-out;
}

body {
  background: url(./resources/page-background-texture.png);
}

.top-page {
  position: fixed;
  width: 50px;
  height: 90px;
  left: 95%;
  top: 85%;
  opacity: 0.9;
  animation: Move 2.5s linear infinite;
  animation-delay: 500ms;
}

@keyframes Move {
  50% {
    transform: translateY(-15px);
  }
}
.logo {
  width: 73px;
  height: 66px;
  margin-left: 40px;
}

.home-background {
  position: absolute;
  width: 728px;
  height: 516px;
  opacity: 0.7;
  mix-blend-mode: darken;
  float: right;
  margin-right: 80px;
  left: 43%;
  top: 184px;
}

section {
  height: 100vh;
  width: 100vh;
}

nav {
  width: 100%;
  height: 20vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-links-container {
  justify-content: flex-end;
}

.nav-font {
  padding: 20px;
  margin: 0 60px;
}

.heading {
  height: 80vh;
  width: 100vh;
}

.heading-container {
  display: flex;
  height: 80vh;
  width: 30vh;
}

.nathan {
  position: absolute;
  width: 396px;
  height: 126px;
  left: 50px;
  top: 222px;
  font-weight: 300;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.nathan::first-letter {
  font-size: 72px;
}

.junior {
  position: absolute;
  top: 330px;
  left: 50px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.web {
  position: absolute;
  top: 360px;
  left: 50px;
  font-weight: 200;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.developer {
  position: absolute;
  top: 372px;
  left: 175px;
  font-weight: 600;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.illustrator {
  position: absolute;
  top: 442px;
  left: 175px;
  font-weight: 600;
  font-size: 48px;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  background-image: url(./resources/colouring-textures.png);
  background-size: 230px 50px;
  background-position: center;
  background-repeat: no-repeat;
}