@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,200;1,600&display=swap");
p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.nav-font {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #313131;
}

.headers-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 48px;
}

.hamburger-font {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #313131;
}

a, a:hover, a:visited {
  text-decoration: none !important;
  color: #313131 !important;
}

a.nav-font:hover {
  background-image: url(./resources/colouring-textures.png);
  background-size: 90px 50px;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: center;
  background-blend-mode: darken;
  animation: ease-in-out;
}

a.nav-font:active {
  opacity: 50%;
}

body {
  background: url(./resources/page-background-texture.png);
}

.top-page {
  position: fixed;
  width: 50px;
  height: 90px;
  left: 95%;
  top: 85%;
  opacity: 0.9;
  animation: Move 2.5s linear infinite;
  animation-delay: 500ms;
}

@keyframes Move {
  50% {
    transform: translateY(-15px);
  }
}
.logo {
  width: 73px;
  height: 66px;
  margin-left: 65px;
  mix-blend-mode: darken;
}

.home-background {
  mix-blend-mode: darken;
  width: 728px;
  height: 516px;
  position: relative;
  min-width: 300px;
}

#hamburger:hover {
  opacity: 50%;
}

#hamburger:active {
  color: blue;
}

.nathan {
  font-weight: 300;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.nathan::first-letter {
  font-size: 72px;
}

.junior {
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.web {
  font-weight: 200;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.developer {
  font-weight: 600;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.illustrator {
  font-weight: 600;
  font-size: 48px;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  background-image: url(./resources/colouring-textures.png);
  background-size: 230px 50px;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
}

.tech-holder {
  width: 348px;
  height: 252px;
  mix-blend-mode: darken;
  position: absolute;
}

.experience-p {
  margin-bottom: 80px;
}

.project1-img,
.project2-img {
  border: 4px solid #313131;
  border-radius: 8px;
  margin: 0 40px;
}

.tech {
  border: 2px solid #313131;
  border-radius: 8px;
  font-size: 12px;
}

#html {
  width: 50px;
  text-align: center;
}

#html:hover {
  background-color: orange;
}

#css {
  width: 40px;
  text-align: center;
}

#css:hover {
  background-color: lightskyblue;
}

#sass {
  width: 40px;
  text-align: center;
}

#sass:hover {
  background-color: hotpink;
}

#bootstrap {
  width: 60px;
  text-align: center;
}

#bootstrap:hover {
  background-color: #8a6ca8;
}

.project-caption {
  padding: 0 70px;
  text-align: center;
}

.fa-code:hover {
  opacity: 50%;
}

.fa-code:active {
  color: blue;
}

.about-image {
  width: 564px;
  height: 385px;
  mix-blend-mode: darken;
  margin-right: 80px;
}

.fa-instagram:hover {
  opacity: 50%;
}

.fa-instagram:active {
  color: blue;
}

.contact-text {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
}

.contact-image-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.contact-image {
  width: 848px;
  height: 218px;
  mix-blend-mode: darken;
  transform: rotate(1.18deg);
}

.contact-image2 {
  height: 109px;
  width: 150px;
}

.socials-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  opacity: 50%;
}

.fa-github:active,
.fa-linkedin:active,
.fa-envelope:active {
  color: blue;
}

nav {
  width: 100%;
  height: 20vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-shrink: 1;
}

.nav-links-container {
  justify-content: flex-end;
}

.nav-font {
  padding: 6px;
  margin: 0 60px;
}

#hamburger {
  margin: 0 40px;
}

.heading {
  height: 80vh;
  width: 100%;
}

.heading-container {
  height: 80vh;
  width: 100vw;
}

[class^=row] {
  padding: 65px;
  margin-bottom: 4px;
  min-height: 300px;
}

[class^=col] {
  padding: 10px;
  min-height: 150px;
  min-width: 100px;
}

.home-background-container {
  width: 100%;
}

.heading-experience {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-image: url(./resources/colouring-textures.png);
  background-size: 260px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  backface-visibility: 0.8;
}

.experience {
  margin-top: 80px;
  width: 100vw;
  height: 100vh;
}

.tech-icons {
  width: 348px;
  height: 252px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.tech-icons img {
  width: 40px;
  height: 40px;
}

.header-projects {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-image: url(./resources/colouring-textures.png);
  background-size: 260px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  margin-top: 60px;
}

.project-caption-container {
  height: 100px;
  width: 100vw;
}

.projects-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.projects-container .project1-tech-container {
  width: 10vw;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.projects-container .project1-img,
.projects-container .project2-img {
  width: 264px;
  height: 162px;
}
.projects-container .project1-code,
.projects-container .project2-code {
  display: flex;
  height: 20vh;
  width: 20vw;
  justify-content: flex-start;
  align-items: center;
}

.about-header {
  display: flex;
  height: 20vw;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url(./resources/colouring-textures.png);
  background-size: 150px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  margin: 40px auto;
}
.about-header .about-header-icon {
  margin: 0 10px;
}

.about-main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.about-main .about-main-text {
  display: flex;
  margin: 40px 65px;
}

.about-main-img {
  margin-bottom: 40px;
}

.contact {
  height: 90vh;
}

.contact-header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-image: url(./resources/colouring-textures.png);
  background-size: 260px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  margin-top: 200px;
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .top-page {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .home-background {
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 1035px) {
  .nav-font {
    font-size: auto;
    margin: 0 20px;
  }
}
@media screen and (max-width: 769px) {
  .nav-font {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav-links-container {
    left: 50%;
  }

  .home-background {
    height: auto;
    width: 60%;
  }

  #home-background-container {
    display: flex;
    justify-content: center;
  }

  #heading-text {
    text-align: center;
  }
}
@media screen and (max-width: 451px) {
  .nathan,
.junior,
.web,
.developer,
.illustrator {
    font-size: x-large;
  }

  .illustrator {
    background-size: 100px 25px;
  }
}
@media screen and (min-width: 991px) {
  #projects {
    margin-top: 0;
  }

  .experience {
    height: 80vh;
  }
}
@media screen and (max-width: 991px) {
  #tech-holder-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .experience-p {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .tech-holder {
    display: none;
  }

  .row {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tech-icons {
    height: 100px;
  }
  .tech-icons img {
    height: 150px;
    padding: 0 5px;
    filter: brightness(0%);
  }
}
@media screen and (min-width: 873px) {
  .project-caption-container {
    display: none !important;
  }
}
@media screen and (max-width: 872px) {
  .project1-tech-container {
    display: flex !important;
    flex-direction: row !important;
    width: 100vw !important;
    justify-content: center !important;
    gap: 20px !important;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .project2-code,
.project2-container,
.project1-code,
.project1-container,
.project-caption-container {
    display: flex !important;
    flex-direction: row !important;
    width: 100vw !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .project1-code {
    margin-bottom: 40px;
  }

  .project-caption {
    display: none;
  }
}
@media screen and (max-width: 1208px) {
  .about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-main-text {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .about-main-img {
    display: none;
  }

  .about {
    height: 80vh;
  }

  .contact-image {
    display: none;
  }

  .contact-header {
    margin-top: 10px;
  }
}
@media screen and (min-width: 769px) {
  .contact-image2 {
    display: none;
  }
}
@media screen and (max-width: 564px) {
  .experience-text,
.about-text,
.contact-text {
    font-size: 16px;
  }
}