@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,200;1,600&display=swap");
p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.nav-font {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: #313131;
}

.headers-font {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.hamburger-font {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #313131;
}

a, a:hover, a:visited {
  text-decoration: none !important;
  color: #313131 !important;
}

a.nav-font:hover {
  background-image: url(./resources/colouring-textures.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: center;
  mix-blend-mode: darken;
  opacity: 0.7;
  animation: ease-in-out;
}

body {
  background: url(./resources/page-background-texture.png);
}

.top-page {
  position: fixed;
  width: 50px;
  height: 90px;
  left: 95%;
  top: 85%;
  opacity: 0.9;
  animation: Move 2.5s linear infinite;
  animation-delay: 500ms;
}

@keyframes Move {
  50% {
    transform: translateY(-15px);
  }
}
.logo {
  width: 73px;
  height: 66px;
  margin-left: 40px;
}

.home-background {
  mix-blend-mode: darken;
  position: absolute;
  width: 728px;
  height: 516px;
  opacity: 0.7;
  float: right;
  margin-right: 80px;
  left: 43%;
  top: 184px;
}

.experience-p {
  position: relative;
  width: 523px;
  height: 274px;
  float: right;
  margin-top: 50px;
  margin-right: 65px;
  min-width: 400px;
}

.tech-holder {
  width: 348px;
  height: 252px;
  mix-blend-mode: darken;
}

.projects-container .fa-angle-double-left,
.projects-container .fa-angle-double-right {
  margin: 60px 80px;
}

.project1-img,
.project2-img {
  border: 4px solid #313131;
  border-radius: 8px;
  margin: 0 40px;
}

.tech {
  border: 2px solid #313131;
  border-radius: 8px;
  font-size: 12px;
}

#html {
  width: 50px;
  text-align: center;
}

#css {
  width: 40px;
  text-align: center;
}

#sass {
  width: 40px;
  text-align: center;
}

#bootstrap {
  width: 60px;
  text-align: center;
}

.project-caption {
  padding: 0 70px;
}

.fa-code {
  position: relative;
  left: -75px;
  top: 60px;
  margin-left: 40px;
}

.about-image {
  width: 706px;
  height: 482px;
  position: relative;
  float: right;
  mix-blend-mode: darken;
  margin-right: 80px;
}

.contact-text {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
}

.contact-image-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.contact-image {
  width: 848px;
  height: 218px;
  mix-blend-mode: darken;
  transform: rotate(1.18deg);
}

.socials-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

section {
  height: 100vh;
  width: 100vw;
}

nav {
  width: 100%;
  height: 20vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-shrink: 2;
}

.nav-links-container {
  justify-content: flex-end;
}

.nav-font {
  padding: 20px;
  margin: 0 60px;
}

.heading {
  height: 80vh;
  width: 100vh;
}

.heading-container {
  display: flex;
  height: 80vh;
  width: 40vw;
}

.nathan {
  position: absolute;
  width: 396px;
  height: 126px;
  left: 50px;
  top: 222px;
  font-weight: 300;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.nathan::first-letter {
  font-size: 72px;
}

.junior {
  position: absolute;
  top: 330px;
  left: 50px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.web {
  position: absolute;
  top: 360px;
  left: 50px;
  font-weight: 200;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.developer {
  position: absolute;
  top: 372px;
  left: 175px;
  font-weight: 600;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.illustrator {
  position: absolute;
  top: 442px;
  left: 175px;
  font-weight: 600;
  font-size: 48px;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  background-image: url(./resources/colouring-textures.png);
  background-size: 230px 50px;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}

.heading-experience {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-image: url(./resources/colouring-textures.png);
  background-size: 260px 50px;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  backface-visibility: 0.8;
}

.experience {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  width: 100vw;
  height: 420px;
}

.experience-tech-container {
  width: 348px;
  height: 252px;
  position: relative;
  display: flex;
  margin-left: 131px;
  margin-top: 50px;
}

.tech-icons {
  width: 348px;
  height: 252px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.tech-icons img {
  width: 40px;
  height: 40px;
}

.header-projects {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-image: url(./resources/colouring-textures.png);
  background-size: 260px 50px;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  margin-top: 100px;
}

.projects-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  min-width: 1000px;
}
.projects-container .project1-tech-container {
  width: 10vw;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.projects-container .project1-container,
.projects-container .project2-container {
  width: 40vw;
  height: 100%;
}
.projects-container .project1-img,
.projects-container .project2-img {
  width: 264px;
  height: 162px;
}

.about-header {
  display: flex;
  height: 20vw;
  width: 100vw;
  align-items: center;
  background-image: url(./resources/colouring-textures.png);
  background-size: 150px 50px;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  margin-top: 80px;
}
.about-header .about-header-icon {
  width: 46vw;
  justify-content: flex-end;
  display: flex;
  margin-right: 20px;
}
.about-header .about-header-title {
  width: 54vw;
  justify-content: flex-start;
  display: flex;
}

.about-main {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.about-main .about-main-text {
  width: 40vw;
  margin: 40px 80px;
  min-width: 400px;
}
.about-main .about-main-img {
  width: 60vw;
}

.contact-header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-image: url(./resources/colouring-textures.png);
  background-size: 260px 50px;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  margin-top: 200px;
}